@page "/workouts/editor/{id:guid}"
@page "/workouts/editor/"

@using WorkoutTracker.Domain.Entities
@using WorkoutTracker.Shared.Resources
@using WorkoutTracker.Components.Shared

<style>
    .rz-panel-titlebar {
        flex-direction: row-reverse;
        justify-content: left;
    }

    .rz-steps-item {
        display: none;
    }

    .shadows div {
        padding: 1rem;
        width: 10rem;
        text-align: center;
    }

    .exercise-panel {
        cursor: pointer;
        user-select: none;
    }

    .rz-steps .rz-widget-content {
        overflow: auto;
        height: 100%;
    }
</style>

<RadzenSteps SelectedIndexChanged="@StepChanged" @ref="@_steps">
    <Steps>
        <RadzenStepsItem>
            <RadzenText Text="Routine" TextStyle="TextStyle.H3"/>
            <hr/>
            <div class="overflow-auto" style="height: calc(100vh - 14rem)">
                <div class="p-2">
                <RadzenDropDown FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                TValue="RoutineEntity"
                                Disabled="@_model.Complete"
                                Change="@(() => StepChanged())"
                                FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                                Data=@_routines TextProperty="@nameof(RoutineEntity.Name)" AllowClear="true"
                                @bind-Value="@_model.Routine" class="w-100 my-2 rz-border-radius-1" Style="height: 2.5rem"/>
                </div>
                @foreach (var exercise in _model.Exercises.OrderBy(x => x.Order))
                {
                    <WorkoutExerciseEditor @ref="@_workoutExerciseEditors[exercise]" Model="@exercise"/>
                }
            </div>
        </RadzenStepsItem>
        <RadzenStepsItem>
            <RadzenText Text="Summary" TextStyle="TextStyle.H3"/>
            <hr/>
            <div class="overflow-auto" style="height: calc(100vh - 14rem)">
                <RadzenStack Orientation="Orientation.Horizontal"
                             class="w-100">
                    <RadzenStack Orientation="Orientation.Vertical" class="w-50" Gap="0.25rem">
                        <RadzenLabel>Workout date</RadzenLabel>
                        <RadzenDatePicker TValue="DateTime" @bind-Value="@_model.WorkoutDate" class="w-100"
                                          DateFormat="dd/MM/yyyy"/>
                    </RadzenStack>
                    <RadzenStack Orientation="Orientation.Vertical" class="w-50" Gap="0.25rem">
                        <RadzenLabel>Duration</RadzenLabel>
                        <RadzenTimeSpanPicker TValue="TimeSpan?" @bind-Value="@_model.Duration" class="w-100"/>
                    </RadzenStack>
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Vertical" class="w-100" Gap="0.25rem">
                    <RadzenLabel>Notes</RadzenLabel>
                    <RadzenTextArea @bind-Value="_model.Notes" class="w-100" />
                </RadzenStack>
                <RadzenButton Text="Save" Icon="check" class="w-100 my-3" Click="@Complete"/>
            </div>
        </RadzenStepsItem>
    </Steps>
</RadzenSteps>