@using WorkoutTracker.Shared.Resources
@using Microsoft.AspNetCore.Components.Authorization
@using WorkoutTracker.Components.Shared
@inherits LayoutComponentBase
@rendermode InteractiveServer
<div class="page">
    <RadzenDialog/>
    <RadzenComponents @rendermode="InteractiveServer" />
    <main>
        <AuthorizeView>
            <Authorized>
                <RadzenLayout>
                    <RadzenHeader>
                        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
                            @* Title *@
                            <RadzenStack Orientation=" Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                                <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)"/>
                                <RadzenLabel Text="@Resource.WorkoutTrackerTitle"/>
                            </RadzenStack>
                            @* Profile *@
                            <RadzenProfileMenu>
                                <Template>
                                    <RadzenStack Orientation="Orientation.Horizontal" 
                                                 class="mx-1"
                                                 AlignItems="AlignItems.Center">
                                        <RadzenGravatar/>
                                        <RadzenText TextStyle="TextStyle.Body1" Style="margin: 0px">@($"{UserContext.LastName} {UserContext.FirstName}")</RadzenText>
                                    </RadzenStack>
                                </Template>
                                <ChildContent>
                                    <RadzenProfileMenuItem Text="@Resource.ProfileSettings" Icon="logout" Path="settings"></RadzenProfileMenuItem>
                                </ChildContent>
                            </RadzenProfileMenu>
                        </RadzenStack>
                        
                        
                    </RadzenHeader>
                    <RadzenSidebar @bind-Expanded="@_sidebarExpanded" Responsive="true">
                        <RadzenPanelMenu>
                            <RadzenPanelMenuItem Text="@Resource.Equipments" Icon="fitness_center" Path="/equipments"/>
                            <RadzenPanelMenuItem Text="@Resource.Exercises" Icon="sports_gymnastics" Path="/exercises"/>
                            <RadzenPanelMenuItem Text="@Resource.Routines" Icon="list_alt" Path="routines"/>
                            <RadzenPanelMenuItem Text="Workout sessions" Icon="sports" Path="workouts"/>
                        </RadzenPanelMenu>
                    </RadzenSidebar>
                    <RadzenBody>
                        <div class="rz-p-4 row">
                            <div class="col-3 d-none d-md-block"></div>
                            <div class="col-12 col-lg-6">
                                @Body
                            </div>
                            <div class="col-3 d-none d-md-block"></div>
                        </div>
                    </RadzenBody>
                </RadzenLayout> 
            </Authorized>
            <NotAuthorized>
                <div class="rz-p-4">
                    @Body
                </div>
            </NotAuthorized>
        </AuthorizeView>
       
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>